<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544899371861-5ih46cgmncpf3tj6anmoc6j3bjgs8lt6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544899371861-5ih46cgmncpf3tj6anmoc6j3bjgs8lt6</string>
	<key>API_KEY</key>
	<string>AIzaSyBszXbVgRaXlSxfvdM8GOs7qT12DugdW4A</string>
	<key>GCM_SENDER_ID</key>
	<string>544899371861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>empresa.MacedoSnapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-59ac3</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-59ac3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544899371861:ios:1bef5b8aad8e21ba3355dc</string>
</dict>
</plist>